<p>error-page works!</p>
<ul>
    <li>
        <a routerLink="/auth/login"> Login</a>
    </li>
    <li>
        <a routerLink="/auth/registro"> Login</a>
    </li>
    <li>
        <a routerLink="/heroes/listado">Listado</a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">Agregar</a>
    </li>
    <li>
        <a routerLink="/heroes/editar/:id">Editar</a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">Buscar</a>
    </li>
    <li>
        <a routerLink="/heroes/:id">Heroe</a>
    </li>

</ul>